* {
  margin: 0px;
  font-family: "Work Sans", sans-serif;
}
button {
  cursor: pointer;
}
/* .........................
navigation in header section starts here
.......................... */
header {
  background-color: #fff4e7;
}
.navigation-section > a {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.navigation-section > a:visited {
  color: #131313;
}
.navigation-section a {
  text-decoration: none;
}
.navigation-menu li {
  list-style: none;
}
.navigation-section i {
  display: none;
}
.navigation-menu a {
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.navigation-menu a:visited {
  color: #424242;
}
.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 0px 228px;
}
.navigation-menu {
  display: flex;
  gap: 60px;
}
/* .................
navigation in header section ends here
.................... */

/* ................
description in header section starts here 
................... */
.header-description {
  max-width: 862px;
  height: 225px;
  margin: 100px auto 33px;
}
.header-description > h1 {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  margin-bottom: 20px;
}
.header-description > p {
  text-align: center;
  color: #888787;
}
.primary-button {
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
  height: 64px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  display: block;
}
header > button {
  margin: 0px auto;
}

/*.......................
description in header section ends here 
 */

/* .................
 header banner image
 ..................... */
.header-banner-image {
  max-width: 1440px;
  max-height: 700px;
  margin: 50px auto;
  padding-bottom: 50px;
}
/* ....................
 header banner image ends here
 ...................... */

/*...............................
  feature section starts from here
 ................................ */
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
  margin: 0px auto;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 24px;
  column-gap: 24px;
  max-width: 708px;
  max-height: 708px;
}
.feature-images img {
  max-width: 342px;
  max-height: 342px;
  border-radius: 8px;
}

.feature-description {
  max-width: 537px;
}
.feature-description h1 {
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 24px;
}
.feature-description h1 .quick-list {
  color: #727272;
}
.feature-description h1 .features {
  color: #ff900e;
}
.feature-description p {
  color: #727272;
  margin-bottom: 32px;
}
/*...............................
  feature section ends here
  ....................... */

/* ..................
  feature list section starts from here
  .................... */
.feature-list-container {
  display: flex;
  gap: 55px;
  justify-content: center;
  margin: 130px 0px;
}
.feature-list-inner-container {
  max-width: 586px;
  max-height: 982px;
}
.feature-list-heading {
  font-weight: 800;
  font-size: 45px;
  border-left: 5px solid #ff900e;
  margin-bottom: 24px;
  padding-left: 21px;
  padding-right: 90px;
}
.feature-head{
  max-width: 586px;
  padding: 30px 42px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.feature-head h4 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
.feature-head p,
.feature-list-inner-container p {
  color: #727272;
  padding-bottom: 30px;
}
.feature-list-button {
  max-width: 342px;
  border: none;
  padding: 45px 42px;
  border-radius: 8px;
  background-color: #ff900e;
  color: white;
  font-weight: 500;
  font-size: 25px;
}
.feature-list-button span {
  font-weight: 800;
  font-size: 65px;
}
.feature-list-image-button{
  position: relative;
  padding-left: calc(146px - 55px);
}
.feature-list-button{
  position: absolute;
  top: 900px;
  left: -1px;
}
/* ..................
  feature list section ends here
  .................... */

/* ................
Media Queries
...................... */
@media screen and (max-width: 576px) {
  .navigation-section {
    padding: 20px 20px 0px;
  }
  .navigation-section a {
    font-size: 20px;
  }

  .navigation-menu {
    display: none;
  }
  .navigation-section > i {
    display: inline;
    cursor: pointer;
  }
  .navigation-section > i:focus {
    transform: rotate(90deg);
  }
  .header-description {
    margin: 30px auto 10px;
    padding: 0px 10px;
  }
  .header-description > h1 {
    font-size: 30px;
  }
  .header-banner-image img {
    width: 100%;
  }
  .header-banner-image {
    margin-top: 20px;
    padding: 10px;
  }
  .feature-container {
    flex-direction: column-reverse;
    margin: 0px 10px;
    padding-right: 10px;
  }
  .feature-images {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    row-gap: 10px;
    column-gap: 10px;
    max-width: 100%;
  }
  .feature-images img {
    max-width: 100%;
  }
  .feature-list-container {
    flex-direction: column;
  }
  .feature-list-image-button{
    display: none;
  }
}
